DATABASE_URL=

# Cron / Vercel
CRON_SECRET=

# Bolt
BOLT_CLIENT_ID=
BOLT_CLIENT_SECRET=

# Uber
UBER_EMAIL=
UBER_PASSWORD=
UBER_SUPPLIER_UUID=
UBER_X_CSRF_TOKEN=
UBER_COOKIE=

# Heetch
HEETCH_EMAIL=
HEETCH_PASSWORD=
HEETCH_COOKIE=
# Bolt Fleet API officielle (server-side only)
BOLT_TOKEN_URL="https://oidc.bolt.eu/token"
BOLT_API_BASE_URL="https://node.bolt.eu/fleet-integration-gateway"
BOLT_API_SCOPE="fleet-integration:api"
